<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TEA Cast</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <style>
        html, body {
            font-family: 'Poppins', sans-serif;
            font-size: 100%;
            height: 100%;
            margin: 0;
        }

        *, *:before, *:after {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .devices {
            display: grid;
            grid-auto-rows: 50vh;
            grid-template-columns: repeat(2, 1fr);
            height: 100vh;
            width: 100vw;
        }

        .chromecast {
            align-items: center;
            display: flex;
            justify-content: center;
            max-width: 50vw;
            overflow: hidden;
        }

        img {
            max-height: 100%;
            width: auto;
        }

        .incident {
            background-color: rgba(43, 57, 255, 0.77);
            color: #fff;
            height: 100%;
            width: 100%;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 5rem auto 3rem;
            grid-template-areas:
                    "header header header sidebar"
                    "main main main sidebar"
                    "footer footer footer sidebar";
        }

        .incident.SEV-1 {
            background-color: rgba(255, 16, 40, 0.77);
            color: #fff;
        }

        .incident.SEV-2 {
            background-color: rgba(255, 90, 44, 0.95);
            color: #fff;
        }

        .incident header {
            align-items: center;
            display: grid;
            grid-area: header;
            grid-template-areas: "sev title";
            grid-template-columns: 1fr 4fr;
            grid-template-rows: auto;

        }

        .incident-title {
            font-size: 2rem;
            font-weight: normal;
            grid-area: title;
            margin: 0;
        }

        .incident-sev {
            font-size: 3rem;
            font-weight: bold;
            grid-area: sev;
            padding: 0.1em 0.4em;
        }

        .incident main {
            grid-area: main;
        }

        .incident main ul {
            list-style: none;
        }

        .incident footer {
            grid-area: footer;
        }

        .incident aside {
            align-items: flex-start;
            background-color: white;
            box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
            color: #000;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            grid-area: sidebar;
            height: 100%;
            justify-content: flex-start;
            padding: 0.4em 1em;
        }


        .incident aside h3 {
            font-size: 1.8rem;
            font-weight: normal;
            line-height: 1.2em;
            margin: 0 0 0.8em;
            white-space: nowrap;
        }

        .incident aside ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .incident-resume {
            color: #000;
            display: flex;
            flex-direction: column;
            font-size: 0.5em;
        }


        .incident-resume:not(:last-child) {
            margin-bottom: 1em;
        }

        .incident-resume-title {
            font-size: 150%;
        }

        .incident-resume.SEV-1 .incident-resume-title {
            color: red;
        }

        .incident-resume.SEV-2 .incident-resume-title  {
            color: rgb(255, 132, 18);
        }

        .incident-log {

        }
    </style>
</head>
<body>

{{{body}}}

</body>
</html>